<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
	pageEncoding="ISO-8859-1"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>


{% extends "base.html" %}

{% block content %}

<head>
<meta http-equiv="no-cache">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='map_visualization.js')}}"></script>
<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcoGfdgcAUPVCsUlGH8TbiSkJloT5NWfw&callback=initMap&libraries=drawing">
</script>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Map visualization</title>
</head>

<body>
	<h1>Edit the map</h1>
	<h2>Here are the locations:</h2>
	<button type="button" onclick="advanced();">Filter</button>
	<input type="text" id="advancedParams"/>
	<br>
	<button type="button" onclick="showRawTrajectories()">Show Raw Trajcetories</button>
	<br>
	<button type="button" onclick="showPartitioned()">Show Partitioning</button>
	<br>
	<button type="button" onclick="showClusters()">Show Clusters</button>
	<br>
	<button type="button" onclick="showFiltered()">Get Filtered Trajectories</button>
	
	<br><br><br>
	<button type="button" onclick="runTraclus()">Run Traclus</button><br>
	<input type="text" id="epsilon" />
	<label for=epsilon>epsilon</label><br>
	
	<input type="text" id="min_neighbors" />
	<label for=min_neighbors>min_neighbors</label><br>
	
	<input type="text" id="min_num_trajectories_in_cluster" />
	<label for=min_num_trajectories_in_cluster>min_num_trajectories_in_cluster</label><br>
	
	<input type="text" id="min_vertical_lines" />
	<label for=min_vertical_lines>min_vertical_lines</label><br>
	
	<input type="text" id="min_prev_dist" />
	<label for=min_prev_dist>min_prev_dist</label><br>
	
	<br><br><br>
	<button type="button" onclick="runSimulatedAnnealing()">Run Simulated Annealing</button><br>
	<input type="text" id="simulated_annealing_epsilon" />
	<label for=epsilon>epsilon</label><br>
	
	<input type="text" id="num_steps" />
	<label for=num_steps>"num_steps"</label><br>
	
	<input type="text" id="max_epsilon_jump" />
	<label for="max_epsilon_jump">"max_epsilon_jump"</label><br>
	
	<br><br>
	<button type="button" onclick="uploadDrawnPath()">Upload Drawn Path</button><br>
	
	<div id="locationUpdates" />
	<div id="partitions" />
	<div id="clusters" />
   <div id="map" style="height:800px;width:800px"></div>
</body>
</html>

{% endblock %}

